@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900");
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Roboto', sans-serif; }

h2 {
  font-size: 36px;
  color: #4A4A4A;
  text-align: center;
  letter-spacing: 0.7px;
  width: 430px;
  margin-bottom: 40px; }

h3 {
  font-size: 24px;
  font-weight: 500;
  color: #4A4A4A;
  margin-bottom: 30px; }

input {
  font-size: 1em; }

.gradientText {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-radial-gradient(77% 9%, #5A5FCE 12%, #D82667 54%, #F46B27 76%, #FFD16A 100%); }

.left .grid img:hover, .signUpButton {
  box-shadow: 1px 2px 4px rgba(74, 74, 74, 0.5); }

.navbar {
  height: 50px;
  width: 100%;
  background: #4A4A4A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px; }

.download-app {
  display: flex;
  width: 360px;
  justify-content: space-between; }

body {
  background: #F9F9F9; }

.main {
  padding: 132px;
  display: flex;
  justify-content: space-between;
  max-width: 1575px;
  margin: auto; }

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #9B9B9B; }
  .left .signUpGradient {
    position: relative;
    bottom: -7px; }
  .left .grid {
    display: flex;
    width: 396px;
    flex-wrap: wrap;
    padding-bottom: 10px; }
    .left .grid img {
      margin: 2.5px;
      transition: box-shadow ease-in-out 200ms;
      box-shadow: none; }
      .left .grid img:hover {
        cursor: pointer; }

.right {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .right .signup-login {
    margin-bottom: 30px; }
  .right .inactive {
    color: #9B9B9B;
    transition: color ease-in-out 200ms; }
    .right .inactive:hover {
      cursor: pointer;
      color: #4A4A4A; }
  .right .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.signup {
  display: block; }

.login {
  display: none; }

.signUpButton {
  margin: 20px 0;
  background: #E23F51;
  padding: 10px 25px;
  color: #F9F9F9;
  font-size: 0.9em;
  border: none;
  letter-spacing: .8px;
  border-radius: 4px; }

input {
  width: 396px;
  height: 40px;
  border: none;
  border-bottom: 2px solid #FCAF54;
  background: none;
  margin-bottom: 30px;
  padding-bottom: 0; }
  input:hover, input:focus, input:active {
    box-shadow: none;
    outline: none; }

.grid img {
  width: 127px;
  height: 127px;
  object-fit: cover; }

/*# sourceMappingURL=index.css.map */
