@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 36px;
  color: $dark-grey;
  text-align: center;
  letter-spacing: 0.7px;
  width: 430px;
  margin-bottom: 40px;
}

input {
  font-size: 1em;
}
