.signUpButton {
  margin: 20px 0;
  background: $pink;
  padding: 10px 25px;
  color: $light-grey;
  font-size: 0.9em;
  border: none;
  letter-spacing: .8px;
  border-radius: 4px;
  @extend %box-shadow;
}
