input {
  width: 396px;
  height: 40px;
  border: none;
  border-bottom: 2px solid $yellow;
  background: none;
  margin-bottom: 30px;
  padding-bottom: 0;
  &:hover, &:focus, &:active {
    box-shadow: none;
    outline: none;
  }
}
